# Secrets & Environment Variables
.env
.env.*
!.env.example

# Virtual Environments
venv/
env/
.venv/

# Python Cache (Junk files Python creates automatically)
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Databases (Prevents overwriting your live database)
jobinfo.db
*.sqlite3
*.db

# Logs
*.log

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Uploads
uploads/
!uploads/.gitkeep

# Testing
.pytest_cache/
htmlcov/
.coverage
.tox/

# Keys
keys/
*.pem

# test files (local development and testing purposes only)
seed_test_jobs.py
stop24hour-free-window-for-test.py
delete_user.py